<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application android:name=".RssApp" android:label="@string/app_name" android:icon="@drawable/ic_feed"
        android:theme="@style/AppTheme" android:allowBackup="false" android:supportsRtl="true" android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>
        <activity android:name=".FeedActivity" android:exported="false" />
        <activity android:name=".WidgetConfigActivity" android:exported="true">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/></intent-filter>
        </activity>
        <activity android:name=".OpenArticleActivity" android:exported="false" android:excludeFromRecents="true" />
        <receiver android:name=".NewsWidget" android:exported="false" android:label="@string/news_widget">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/news_widget"/>
        </receiver>
        <receiver android:name=".CompactWidget" android:exported="false" android:label="@string/compact_widget">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/compact_widget"/>
        </receiver>
        <receiver android:name=".RefreshReceiver" android:exported="false" />
        <receiver android:name=".PageReceiver" android:exported="false" />
    </application>
</manifest>
